flask==1.0.2
Flask-Mail==0.9.1
PyMySQL==0.9.3
redis==3.1.0
requests==2.18.4
schedule==0.6.0
gunicorn==19.9.0
lxml==4.3.0
tensorflow==1.15.4
pandas==0.24.0
numpy==1.16.2
Flask-Cors==3.0.3
peewee==3.8.2
